@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
    padding: 0;
}

/* estilo cabecera */
header {
    display: flex;
    justify-content: center;
    background-color: #ae937b;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    transition: background-color 0.3s ease;
}


nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Los puntos del menu*/
.menu {
    flex: 2;
    display:flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700; /* Ajusta el peso según lo necesites */
    color: #333; /* Cambia el color según tu diseño */
    font-size: 25px;
    text-decoration: none;
}

.nav li a:hover {
    color: #007BFF; /* Cambia el color al pasar el ratón */
    background-color: black;
}
nav li {
    margin: 0 auto;
    display: inline-block;
    list-style: none;
    padding: 0; 
}


/* el logo */
.logo {
    flex: 1;
}

.logo img {
    width: 70%;
    height: auto;
}
/* Redes Sociales*/
  
/* Fin Redes Sociales*/


/* Boton de busqueda*/
*{
    box-sizing: border-box;
  }


.search-box{
    flex: 1;
    display:flex;
    justify-content: flex-end;
    width: fit-content;
    height: fit-content;
    position: relative;
  }

  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #a38372; 
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  /* Fin de boton de busqueda*/


@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Cambia el diseño a vertical en móviles */
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px; /* Espaciado vertical en móvil */
    }
}



h1{
    color: #222c30;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: #222c30;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h2{
    color: #222c30;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
main {
    padding: 5px;
    text-align: center;
    background-color: #d6c5b1
}

section {
    margin-bottom: 20px;
}

.Bienvenidos {
    background-color: #f3f3ea;
    padding: 0.5em 1em;
    text-align: center;
    margin-top: 1em; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.Bienvenidos h2 {
    color: #222c30; 
    font-size: 2.5em;
    margin-bottom: 0.5em;
    text-decoration:underline dotted;
}

.Bienvenidos p {
    font-size: 1.2em;
    color: #222c30;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.6;
    text-align: justify;
    margin-top: 3em;
}

.Bienvenidos button {
    background-color: #8bb28d; 
    color: #f3f3ea;
    padding: 0.8em 1.5em;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    margin-top: 3em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 5em;
}

.Bienvenidos button:hover {
    background-color: #805a4f; 
}

@media (max-width: 768px) {
    .Bienvenidos h2 {
        font-size: 2em;
    }

    .Bienvenidos p {
        font-size: 1.1em;
    }

    .Bienvenidos button {
        font-size: 1em;
        padding: 0.7em 1.2em;
    }
}

.Proyecto {
    background-color: #f3f3ea; 
    padding: 0.5em 1em;
    text-align: center;
    margin-top: 2em; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.proyecto-texto{
    flex: 1;
    padding-right: 2em;
}

.proyecto-imagen{
    flex: 1;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}
.proyecto-imagen img{
    width: 30%;
    border-radius: 10px;
    box-shadow: 8px 4px 10px rgba(0, 0, 0, 0.1);
}

.Proyecto h2 {
    color: #222c30; 
    font-size: 2.5em;
    margin-bottom: 1em;
    margin-top: 2em;
}

.Proyecto p {
    font-size: 1.2em;
    color: #222c30;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    margin-bottom: 3em;
    text-align: left;
}

.Proyecto button {
    background-color: #8bb28d;
    color: #f3f3ea;
    padding: 0.8em 1.5em;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    margin-top: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Proyecto button:hover {
    background-color: #805a4f; 
}

@media (max-width: 768px) {
    .Proyecto{
        flex-direction: column;
        text-align: center;
    }
    .proyecto-texto{
        padding-right: 0;
    }
    .proyecto-imagen{
        margin-top: 1.5em;
    }
    .Proyecto h2 {
        font-size: 2em;
    }

    .Proyecto p {
        font-size: 1.1em;
    }

    .Proyecto button {
        font-size: 1em;
        padding: 0.7em 1.2em;
    }
}

.actividades{
    background-color: #f3f3ea;
    padding: 0.5em 1em;
    text-align: center;
    margin-top: 2em; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actividades-texto{
    flex: 1;
    padding-right: 2em;
}

.actividades-imagen{
    flex: 1;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}
.actividades-imagen img{
    width: 50%;
    border-radius: 10px;
    box-shadow: 8px 4px 10px rgba(0, 0, 0, 0.1);
}

.actividades h2 {
    color: #222c30; 
    font-size: 2.5em;
    margin-bottom: 1em;
    margin-top: 2em;
}

.actividades p {
    font-size: 1.2em;
    color: #222c30;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    margin-bottom: 3em;
    text-align: left;
}

.actividades button {
    background-color: #8bb28d;
    color: #f3f3ea;
    padding: 0.8em 1.5em;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    margin-top: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.actividades button:hover {
    background-color: #805a4f; 
}

@media (max-width: 768px) {
    .actividades{
        flex-direction: column;
        text-align: center;
    }
    .actividades-texto{
        padding-right: 0;
    }
    .actividades-imagen{
        margin-top: 1.5em;
    }
    .actividades h2 {
        font-size: 2em;
    }

    .actividades p {
        font-size: 1.1em;
    }

    .actividades button {
        font-size: 1em;
        padding: 0.7em 1.2em;
    }
}

.Bienvenidos label {
    font-size: 1.2em;
    color: #222c30;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.6;
    text-align: left;
    margin-top: 3em;
}

footer {
    background-color: #625b51;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

