@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #d5c4b0;
}

/* estilo cabecera */
header {
    display: flex;
    justify-content: center;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: #ae937b;
    top: 0;
    transition: background-color 0.3s ease;
    border-radius: 0 0 25px 25px;
    
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/pattern2.png");
    background-repeat: repeat;
    background-size: contain;
    opacity: 0.15;
    z-index: 0;
}


nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 0; /* Restablece el padding */
    margin: 0; /* Restablece el margen */
}

/* Los puntos del menu*/
.menu {
    flex: 2;
    display:flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 0; /* Asegúrate de que no haya margen adicional */
    padding: 0;
}

.menu li a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 450; /* Ajusta el peso según lo necesites */
    color: #e2e2dd; /* Cambia el color según tu diseño */
    font-size: 22px;
    text-decoration: none;
    text-shadow: 1px 1px 2px #222c30;
    padding: 40px 15px; /* Añadir padding para hacer que el área del enlace sea más grande */
    border-radius: 5px; /* Opcional: redondear los bordes de los elementos del menú */
    transition: transform 0.3s ease, background-color 0.3s ease;  /* Transición suave */
}

.menu li a:hover {
    background-color: #8bb28d; /* Cambia el color de fondo al pasar el ratón */
    color: #222c30; /* Cambia el color del texto al pasar el ratón */
    text-shadow: 1px 1px 2px #e2e2dd;
    transform: scale(5.1);

}
nav li {
    list-style: none;
    padding: 0;
}


/* el logo */

.logo-container {
    text-align: center; /* O usar display: flex y justify-content: center */
}

.logo-container img {
    max-width: 60%;
    height: auto;
    transition: transform 0.6s ease;
}

.logo-container img:hover {
    transform: scale(1.1);
}

.search-social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}
/* Redes Sociales*/
.social-buttons {
    display: flex;
    justify-content: center; /* Centrar los botones */
    margin-top: 8px; /* Espacio entre el buscador y los botones de redes sociales */
    margin-bottom: 5px;
}

.social-buttons ul {
    margin: 0; /* Eliminar margen para centrar correctamente */
    padding: 0; /* Eliminar padding */
    display: flex; /* Usar flexbox para alinear los elementos horizontalmente */
}

.social-buttons ul li {
    list-style: none; /* Eliminar el estilo de lista */
}

.social-buttons ul li a {
    display: block;
    position: relative;
    width: 60px; /* Puedes ajustar el tamaño según lo necesites */
    height: 60px; /* Puedes ajustar el tamaño según lo necesites */
    line-height: 60px; /* Centra el icono verticalmente */
    font-size: 20px; /* Tamaño del icono */
    text-align: center;
    text-decoration: none;
    color: #404040; /* Color del icono */
    margin: 0 30px; /* Espacio entre botones */
    transition: .5s;
}

.social-buttons ul li a span {
    position: absolute;
    transition: transform .5s;
}

.social-buttons ul li a span:nth-child(1),
.social-buttons ul li a span:nth-child(3) {
    width: 100%;
    height: 3px;
    background: #404040; /* Color de las líneas */
}

.social-buttons ul li a span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
}

.social-buttons ul li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

.social-buttons ul li a span:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
}

.social-buttons ul li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.social-buttons ul li a span:nth-child(2),
.social-buttons ul li a span:nth-child(4) {
    width: 3px;
    height: 100%;
    background: #404040; /* Color de las líneas verticales */
}

.social-buttons ul li a span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom;
}

.social-buttons ul li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition: transform .5s;
}

.social-buttons ul li a span:nth-child(4) {
    top: 0;
    right: 0;
    transform: scale(0);
    transform-origin: top;
}

.social-buttons ul li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition: transform .5s;
}

.instagram:hover {
    color: #c32aa3; /* Color de la red social */
}

.instagram:hover span { 
    background: #c32aa3; /* Color de fondo en hover */
}

.envelope:hover {
    color: #dd4b39; /* Color de la red social */
}

.envelope:hover span { 
    background: #dd4b39; /* Color de fondo en hover */
}
/* Fin Redes Sociales*/


/* Boton de busqueda*/
*{
    box-sizing: border-box;
  }


.search-box{
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
    height: fit-content;
    position: relative;
  }

  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #a38372; 
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    text-shadow: 1px 1px 2px #222c30;
    background-color:transparent;
    pointer-events: painted;  
  }

  .btn-search:hover {
    background-color: #8bb28d; /* Cambia el color de fondo al pasar el ratón */
}
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  /* Fin de boton de busqueda*/


@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Cambia el diseño a vertical en móviles */
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px; /* Espaciado vertical en móvil */
    }
}



h1{
    color: #222c30;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: #222c30;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h2{
    color: #222c30;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
main {
    padding: 5px;
    text-align: center;
    background-color: #d6c5b1
}

section {
    margin-bottom: 20px;
}

.Bienvenidos {
    background-color: #f3f3ea;
    padding: 0.5em 1em;
    text-align: center;
    margin-top: 1em; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.Bienvenidos h2 {
    color: #222c30; 
    font-size: 2.5em;
    margin-bottom: 0.5em;
    text-decoration:underline dotted;
}

.Bienvenidos p {
    font-size: 1.2em;
    color: #222c30;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.6;
    text-align: justify;
    margin-top: 3em;
}

.Bienvenidos button {
    background-color: #8bb28d; 
    color: #f3f3ea;
    padding: 0.8em 1.5em;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    margin-top: 3em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 5em;
}

.Bienvenidos button:hover {
    background-color: #805a4f; 
}

@media (max-width: 768px) {
    .Bienvenidos h2 {
        font-size: 2em;
    }

    .Bienvenidos p {
        font-size: 1.1em;
    }

    .Bienvenidos button {
        font-size: 1em;
        padding: 0.7em 1.2em;
    }
}

.Proyecto {
    background-color: #f3f3ea; 
    padding: 0.5em 1em;
    text-align: center;
    margin-top: 2em; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.proyecto-texto{
    flex: 1;
    padding-right: 2em;
}

.proyecto-imagen{
    flex: 1;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}
.proyecto-imagen img{
    width: 30%;
    border-radius: 10px;
    box-shadow: 8px 4px 10px rgba(0, 0, 0, 0.1);
}

.Proyecto h2 {
    color: #222c30; 
    font-size: 2.5em;
    margin-bottom: 1em;
    margin-top: 2em;
}

.Proyecto p {
    font-size: 1.2em;
    color: #222c30;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    margin-bottom: 3em;
    text-align: left;
}

.Proyecto button {
    background-color: #8bb28d;
    color: #f3f3ea;
    padding: 0.8em 1.5em;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    margin-top: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Proyecto button:hover {
    background-color: #805a4f; 
}

@media (max-width: 768px) {
    .Proyecto{
        flex-direction: column;
        text-align: center;
    }
    .proyecto-texto{
        padding-right: 0;
    }
    .proyecto-imagen{
        margin-top: 1.5em;
    }
    .Proyecto h2 {
        font-size: 2em;
    }

    .Proyecto p {
        font-size: 1.1em;
    }

    .Proyecto button {
        font-size: 1em;
        padding: 0.7em 1.2em;
    }
}

.actividades{
    background-color: #f3f3ea;
    padding: 0.5em 1em;
    text-align: center;
    margin-top: 2em; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actividades-texto{
    flex: 1;
    padding-right: 2em;
}

.actividades-imagen{
    flex: 1;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}
.actividades-imagen img{
    width: 50%;
    border-radius: 10px;
    box-shadow: 8px 4px 10px rgba(0, 0, 0, 0.1);
}

.actividades h2 {
    color: #222c30; 
    font-size: 2.5em;
    margin-bottom: 1em;
    margin-top: 2em;
}

.actividades p {
    font-size: 1.2em;
    color: #222c30;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    margin-bottom: 3em;
    text-align: left;
}

.actividades button {
    background-color: #8bb28d;
    color: #f3f3ea;
    padding: 0.8em 1.5em;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    margin-top: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.actividades button:hover {
    background-color: #805a4f; 
}

@media (max-width: 768px) {
    .actividades{
        flex-direction: column;
        text-align: center;
    }
    .actividades-texto{
        padding-right: 0;
    }
    .actividades-imagen{
        margin-top: 1.5em;
    }
    .actividades h2 {
        font-size: 2em;
    }

    .actividades p {
        font-size: 1.1em;
    }

    .actividades button {
        font-size: 1em;
        padding: 0.7em 1.2em;
    }
}

.Bienvenidos label {
    font-size: 1.2em;
    color: #222c30;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.6;
    text-align: left;
    margin-top: 3em;
}

footer {
    background-color: #625b51;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

